.card-about {
  border-radius: 25px;
  background: inherit;
  /* box-shadow: 5px 5px 10px #1d1e1f, -5px -5px 10px #3f4142; */
  box-shadow: inset 5px 5px 10px #1d1e1f, inset -5px -5px 10px #3f4142;
}

.card-title {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.card-text {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.icons {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* outline: 0; */
  box-shadow: 5px 5px 10px #1d1e1f, -5px -5px 10px #3f4142;
  background-color: #fdd748;
  color: #2c2d2e;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 10rem;
  margin: 0.6rem;
  font-size: 20px;
  cursor: pointer;
}

.resumee-button {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: inherit;
  /* outline: 0; */
  box-shadow: 5px 5px 10px #1d1e1f, -5px -5px 10px #3f4142;
  background-color: #fdd748;
  color: #2c2d2e;
  height: 2.2rem;
  padding: 0 10px;
  border-radius: 10rem;
  margin: 0.6rem;
  font-size: 20px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.final-card {
  padding-bottom: 40px;
}
