.home-font-title {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.page-card-home {
  min-height: 100vh;
  justify-content: center;
  margin-top: -164px;
}

@media (min-width: 768px) {
  .home-font-title {
    font-size: 2.8rem;
    /* 2.5 is the normal */
  }
  .home-font-text {
    font-size: 1.2rem;
    /* 2.5 is the normal */
  }
}

@media (min-width: 992px) {
  .home-font-title {
    font-size: 3.2rem;
    /* 2.5 is the normal */
  }
  .home-font-text {
    font-size: 1.4rem;
    /* 2.5 is the normal */
  }
}

@media (min-width: 1200px) {
  .home-font-title {
    font-size: 3.4rem;
    /* 2.5 is the normal */
  }
  .home-font-text {
    font-size: 1.6rem;
    /* 2.5 is the normal */
  }
}
