.row {
  margin: 0;
}

.card-projects {
  border-radius: 25px;
  background: inherit;
  box-shadow: 5px 5px 10px #1d1e1f, -5px -5px 10px #3f4142;
  /* box-shadow: inset 5px 5px 10px #1d1e1f, inset -5px -5px 10px #3f4142; */
  margin-bottom: 20px;
}

.card-body {
  margin-top: -25px;
  padding-top: 0;
  padding-bottom: 0;
}

.card-img-top {
  padding: 4px;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.icons-projects {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* outline: 0; */
  box-shadow: inset 5px 5px 10px #1d1e1f, inset -5px -5px 10px #3f4142;
  background-color: #2c2d2e;
  color: #fdd748;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 10rem;
  margin: 0.6rem;
  font-size: 20px;
  cursor: pointer;
}

.text-button-projects {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: inherit;
  /* outline: 0; */
  box-shadow: inset 5px 5px 10px #1d1e1f, inset -5px -5px 10px #3f4142;
  background-color: #2c2d2e;
  color: #fdd748;
  height: 2.6rem;
  padding: 0 10px;
  border-radius: 10rem;
  margin: 0.6rem;
  font-size: 20px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.card-text-projects {
  margin-bottom: 0;
}

.card-title-projects {
  font-weight: bold;
}

@media (min-width: 577px) {
}

@media (min-width: 767px) {
}

@media (min-width: 1200px) {
  .font-title {
    font-size: 3.4rem;
    /* 2.5 is the normal */
  }
}
