.App {
  background-color: #2c2d2e;
  color: white;
  font-family: "Lato", sans-serif;
}

.yellow {
  color: #fdd748;
}

.parallax-img {
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.75);
}

#background1 {
  background-image: url("./images/background1.jpeg");
}

#background2 {
  background-image: url("./images/background2.jpeg");
}

.btn {
  background-color: #fdd748 !important;
  border-radius: 2rem;
  max-width: 18rem;
  font-size: 0.9rem;
}

.font-title {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.card-title {
  font-weight: bold;
}

.hover:hover {
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.page-card {
  padding-top: 9vh;
  padding-bottom: 9vh;
}

.skills {
  justify-content: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media (max-width: 820px) {
  .responsive-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .page-card {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .page-card {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media (min-width: 992px) {
  .page-card {
    padding-top: 11vh;
    padding-bottom: 11vh;
  }
}

@media (min-width: 1200px) {
  .page-card {
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
  .font-title {
    font-size: 3.4rem;
  }
}
